/* =========================
   Variables
========================= */
:root {
  --bg-card: #fff;
  --bg-app: #eff1f3;
  --bg-content: #e4e7eb;

  --color-primary: #546e7a;
  --color-primary-hover: #435761;
  --color-font-light: #fff;
  --color-font-dark: #222;
  --color-errortext: red;

  --radius: 4px;
}

/* =========================
   Reset
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================
   Base
========================= */
body {
  position: fixed;
  width: 100%;
  font-size: 18px;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--bg-app);
  color: var(--color-font-dark);
}

/* =========================
   Layout
========================= */
.layout {
  min-height: 100vh;
  background: var(--bg-content);

  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* =========================
   Button / Link components
========================= */
.btn {
  display: inline-block;
  padding: 10px 18px;
  border: none;
  border-radius: var(--radius);

  background: var(--color-primary);
  color: var(--color-font-light);

  text-decoration: none;
  font-weight: 600;

  transition: 0.2s ease;
}

.btn:hover {
  background: var(--color-primary-hover);
}

.btn--secondary {
  width: 100%;
  border-radius: var(--radius);
}

.btn-small {
  width: 180px;
}

a {
  color: var(--color-font-dark);
  text-decoration: none;
}

a:active,
a:visited,
a:hover {
  color: var(--color-font-light);
  text-decoration: none;
}

/* =========================
   Card
========================= */
.card {
  background: var(--bg-card);
  padding: 24px;
  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.card--secondary {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.section-title {
  margin-bottom: 16px;
}

/* =========================
   Table
========================= */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table a {
  color: var(--color-font-dark);
}

.table th {
  text-align: left;
  padding: 8px;
  border: 1px solid var(--bg-app);
  color: var(--color-font-dark);
}

.table td {
  padding: 8px;
  border: 1px solid var(--bg-app);
}

.table tbody tr {
  background: var(--color-primary);
  color: var(--color-font-light);
  border-radius: var(--radius);
}

.table tbody tr + tr {
  margin-top: 8px;
}

.table-header {
  display: flex;
}

.sort-arrow {
  position: relative;
  fill: #000;
  top: 1px;
  height: 12px;
  width: 12px;
}

.sort-arrow--secondary {
  fill: var(--color-font-light);
}

/* =========================
   History overview
========================= */

.overview {
  position: relative;
  border-radius: none;
}

.overview-content {
  max-height: 1000px;
  overflow-y: auto;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.hidden {
  max-height: 0;
  opacity: 0;
}

.visible {
  max-height: 1000px;
  opacity: 1;
}

/* =========================
   Create poll form
========================= */

.form-create {
  max-width: 700px;
}

form input {
  padding: 4px;
  min-width: 400px;
}

.error {
  color: var(--color-errortext);
}
